body.dark {
    background-color: rgb(35, 35, 35);
    --color: rgb(160, 160, 160);
    color: var(--color);
    --text-accent-color: rgb(238, 238, 238);
    --hover-accent-color: rgb(81, 179, 235);
    --dialog-background: rgb(65 67 74);
    --dialog-header: black;
    --dialog-body: rgb(194 189 189);
}

body:not(.dark) {
    background-color: rgb(255, 255, 255);
    --color: rgb(87, 93, 99);
    color: var(--color);
    --text-accent-color: rgb(0, 0, 0);
    --hover-accent-color: rgb(40, 89, 153);
    --dialog-background: rgb(252 252 252);
    --dialog-header: black;
    --dialog-body: rgb(118 118 118);
}

.clickable {
    cursor: pointer;

    &:hover {
        color: var(--hover-accent-color);
    }
}