.channel {
    $min-size: 60px;
    min-width: $min-size;
    min-height: $min-size;
    border-radius: 50%;
    $size: 10px;
    width: $size;
    height: $size;

    display: flex;
    justify-content: center;
    align-items: center !important;

    img {
        height: 100%;
        border-radius: 50%;
    }
}

.channel-link {
    text-decoration: none;
}

#channel-filter .channel-link.selected {
    border: 1.5px solid white;
    border-radius: 50%;
}